.ss {
    display: block;
    width: 100%;
    margin: 0;
    padding: 16px;
}

.ss__selectors {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 16px 0;
    text-align: center;
    list-style: none;
}
.ss__selectors > li {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 16px 24px;
    background: #eee;
    cursor: pointer;
    transition: 0.2s linear;
}
.ss__selectors > li:hover, .ss__selectors > li:focus, .ss__selectors > li:visited, .ss__selectors > li:active, .ss__selectors > li.active {
    background: #ccc;
}

.ss__label {
    display: none;
    width: auto;
    padding: 16px 24px;
    background: #eee;
}

.ss__slides {
    position: relative;
    margin: 0;
    padding: 0;
}
.ss__slides > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 16px;
    margin: 0;
    opacity: 0;
}
.ss__slides > div.active {
    opacity: 1;
}

.ss--mobile.ss--mobile--list .ss__slides, .ss--mobile.ss--mobile--toggle .ss__slides {
    height: auto !important;
}
.ss--mobile.ss--mobile--list .ss__slides > div, .ss--mobile.ss--mobile--toggle .ss__slides > div {
    position: relative;
    opacity: 1;
}
.ss--mobile.ss--mobile--list .ss__selectors, .ss--mobile.ss--mobile--toggle .ss__selectors {
    display: none;
}
.ss--mobile.ss--mobile--list .ss__label, .ss--mobile.ss--mobile--toggle .ss__label {
    display: inline-block;
}
.ss--mobile.ss--mobile--toggle .ss__label {
    position: relative;
    cursor: pointer;
    transition: 0.3s linear;
}
.ss--mobile.ss--mobile--toggle .ss__label.active {
    background: #ccc;
}
.ss--mobile.ss--mobile--toggle .ss__label:after {
    content: "+";
    position: relative;
    margin-left: 6px;
}
.ss--mobile.ss--mobile--toggle .ss__content {
    position: relative;
}
.ss--mobile.ss--mobile--toggle .ss__content__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.ss--mobile.ss--mobile--toggle .ss__slides > div .ss__content__inner {
    opacity: 0;
}
.ss--mobile.ss--mobile--toggle .ss__slides > div.open .ss__label {
    background: #ccc;
}
.ss--mobile.ss--mobile--toggle .ss__slides > div.open .ss__label:after {
    content: "-";
}

.ss.ss--images .ss__selectors {
    min-height: 320px;
}
.ss.ss--images .ss__selectors > li {
    position: relative;
    display: inline-block;
    background: transparent;
    padding: 0 10px;
    margin: 0 auto;
    width: 200px;
    height: auto;
    transition: 0.6s ease;
    transition-delay: 0s;
}
.ss.ss--images .ss__selectors > li:focus {
    outline: none;
}
.ss.ss--images .ss__selectors > li:hover {
    width: 300px;
    transition: 0.6s ease;
}
.ss.ss--images .ss__selectors > li:hover .ss__image {
    filter: grayscale(0%);
}
.ss.ss--images .ss__selectors > li:hover .ss__title {
    opacity: 1;
}
.ss.ss--images .ss__selectors > li.active {
    width: 440px;
    transition: 0.3s ease;
}
.ss.ss--images .ss__selectors > li.active:hover .ss__title {
    opacity: 0;
}
.ss.ss--images .ss__selectors > li.active .ss__image {
    opacity: 1;
    filter: grayscale(0%);
}
.ss.ss--images .ss__selectors > li .ss__image {
    position: relative;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    filter: grayscale(100%);
    opacity: 1;
    transition: 0.6s ease;
}
.ss.ss--images .ss__selectors > li .ss__title {
    display: block;
    margin-top: 10px;
    text-align: center;
    opacity: 0;
    transition: 0.1s linear;
}
.ss.ss--images .ss__slides {
    text-align: center;
}
.ss.ss--images .ss__slides > div {
    padding: 15px 0;
}
.ss.ss--images .ss__slides > div .ss__image {
    display: none;
    width: 650px;
    max-width: 100%;
    height: auto;
    margin: 0 auto 30px;
}
.ss.ss--images.ss--mobile .ss__slides .ss__label {
    display: none;
}
.ss.ss--images.ss--mobile .ss__slides > div .ss__image {
    display: block;
}
